
body {
  background-image: url('images/saint.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}


/* .main-container {
  position: relative;
}

.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} */



h1{
  color: #72315a;
  font-weight: 100;
  font-size: 40px;
  margin: 40px 0px 20px;
}

#clockdiv{
    font-family: sans-serif;
    color: #fff;
    display: inline-block;
    font-weight: 100;
    text-align: center;
    font-size: 30px;
}

#clockdiv > div{
    padding: 10px;
    border-radius: 3px;
    background: #b868b7;
    display: inline-block;
}

#clockdiv div > span{
    padding: 15px;
    border-radius: 3px;
    background: #fe8aff;
    display: inline-block;
}

.smalltext{
    padding-top: 5px;
    font-size: 16px;
}

.hide { display: none; }
.show { display: block; }